@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Margin Pre-fix */
.mb-1 {
  margin-bottom: 1rem;
}

/* Display Pre-fix */
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

html,
body {
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #333;
}

/*
.top-header {
  display: none;
}
.navigation {
  display: none;
} */

.logo img {
  vertical-align: middle;
  display: flex;
  justify-content: left;
}

/* mobile hamburguer menu */
.menumobile {
  display: flex;
  background-color: #888;
}

.navbar-mobile {
  width: 392px;
  height: 568px;
  color: #fff;
  background-color: #272a32;
  position: fixed;
  justify-content: center;
  display: flex;
  top: 0;
  left: -400px;
  z-index: 4;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}

.change {
  left: 0;
}

.hamburguer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 30px;
  position: fixed;
  top: 15px;
  left: 35px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #1a2236;
  transition: all 0.8s;
}

.change .line-1 {
  background-color: #ec5242;
  transform: rotateZ(-405deg) translate(-11px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  background-color: #ec5242;
  transform: rotateZ(405deg) translate(-11px, -6px);
}

.hamb-nav-list {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  margin: 25px;
  font-size: 16px;
  line-height: 300%;
  left: -5px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
  flex-direction: column;
}

/* end mobile hamburguer menu */

/* .menu {
  display: none;
}
.logo {
  display: none;
}
.menu-nav {
  display: none;
}
.desktop-img {
  display: none;
} */

.mobile-img {
  display: flex;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* Headline Section */
.hero {
  display: flex;
  text-align: center;
  width: 100%;
  padding-bottom: 3rem;
}

.hero-inner {
  width: 100%;
}

.call-title {
  display: flex;
  font-size: 24px;
  font-size: 5vw;
  font-style: normal;
  font-weight: 300;
  width: 90%;
  margin: 75px 0 0 1rem;
  color: #ec5242;
}

.title {
  display: flex;
  font-size: 40px;
  font-size: 7vw;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: 1rem;
  color: #ec5242;
  background:
    -webkit-linear-gradient(
      #ec5242,
      #b11908,
      #690e04,
      #5e0c03,
      #ec5242
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-paragraphy {
  display: flex;
  margin-left: 1rem;
  padding: 1rem;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  line-height: 1.5rem;
  color: #000;
  background-color: #fff;
  width: 80%;
}

.date-title {
  margin-left: 1rem;
  width: 90%;
  color: rgb(87, 87, 87);
  font-size: 14px;
  text-align: left;
}

.location {
  margin-left: 1rem;
  width: 90%;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
}

.email-link {
  text-decoration: underline;
  color: darkslategrey;
}

/* Main Section */
.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 1rem 1rem 2rem 0;
}

.main-title {
  display: flex;
  justify-content: center;
  color: #000;
  padding: 1rem;
  font-size: 24px;
  text-align: center;
}

.main-paragraph {
  display: flex;
  justify-content: center;
  color: #575757;
  padding: 1rem;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.about-logo {
  width: 80%;
  margin: 0 auto;
}

.grid-container {
  width: 100%;
  margin: 0 0 0.5em;
  padding: 16px 0;
  vertical-align: middle;
  display: table;
  grid-column-gap: 15px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: auto;
}

.highligts {
  color: #ec5242;
  font-weight: 300;
}

.highlights-text {
  font-family: 'Lato', sans-serif;
  max-width: 50%;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.join-btn {
  justify-content: center;
  display: inline-flex;
  margin: 0 auto;
  padding: 2rem 0;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  background-color: orangered;
  width: 80%;
}

/* Feature Section */
.content-spacing {
  padding: 1rem 1rem 2rem 1rem;
}

.feature-title {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

/* Js Classes */
.speaker-conter {
  display: flex;
  justify-content: center;
}

.guest-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.h2-guest {
  overflow-y: hidden;
}

.guest-container img {
  flex-basis: 30%;
  max-width: 120px;
  height: 120px;
}

.guest-container div {
  flex-basis: 70%;
  margin-left: 20px;
}

#guests li div {
  margin-top: 0;
  line-height: 25px;
}

#guests h3 {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #ec5242;
}

.img-radius {
  border: 2px solid grey;
  border-radius: 20px;
}

.grid-item-partner img {
  display: flex;
  width: 50%;
}

.footer-organizer img {
  width: 50%;
  flex-direction: row;
}

.content-spacing.bg-c-3 h2 {
  margin-top: 8px;
}

.content-spacing.bg-c-3 p {
  line-height: 23px;
}

.content-spacing.bg-c-3 img {
  width: 100%;
  margin-top: 25px;
  border: 2px solid lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column-container {
  grid-template-columns: auto;
}

.partner {
  width: 100%;
  border-top: 0.15rem solid lightgray;
}

.partner-mobile {
  width: 100%;
  max-height: 600px;
  background-color: #333;
}

.main-title-mobile {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 10px;
}

.partner-organizer {
  display: block;
  height: auto;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem 3rem 1rem;
  background-color: #fff;
}

.past-paragraphy {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #575757;
  font-weight: 500;
}

.partner-organizer-mobile {
  padding: 1rem;
}

.partiner-tile {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 0;
  margin: 0;
}

.guide-bar {
  width: 53px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 2rem;
}

.grid-container-partner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item-partner {
  display: inline-flex;
  justify-content: center;
  width: 30%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  max-width: 400px;
}

.overlay-container:first-child {
  margin: 0 0 1rem 0;
}

.overlay-paragraph,
.overlay-title {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.img-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}

.event-img {
  width: 100%;
}

/* Footer */
.footer {
  padding: 1rem;
}

.footer-organizer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
}

.footer-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-title {
  display: inline-block;
}

.footer-paragraph {
  font-weight: 300;
  display: inline-block;
}

@media only screen and (min-device-width: 992px) {
  body {
    max-width: 1920px;
  }

  .d-none-desk {
    display: none !important;
  }

  .d-none {
    display: block;
  }


  /* Header Desktop version */
  .top-header {
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 36px;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    background-color: #272a31;
  }

  .header-content {
    display: flex;

    /* position: absolute; */
    width: 45%;
    align-content: center;
  }

  .header-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }

  .header-list li {
    justify-content: space-between;
    margin: 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #fff;
  }

  .about-nav {
    box-shadow: 0 5px 18px #888;
  }

  .navigation {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    align-content: center;
    padding: 10px;

    /* top: 36px; */
    height: 80px;
    box-shadow: 0 10px 18px #888;
    overflow-y: hidden;
  }

  .logo,
  .logo-img {
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    height: 95%;
    cursor: pointer;
  }

  .menu {
    display: flex;
    height: 80px;
    float: right;
    color: rgb(0, 0, 0);
    text-align: right;
    vertical-align: middle;
    position: relative;
    align-content: center;
    align-items: center;
  }

  .menu-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    color: #272a31;
  }

  .menu-nav a {
    color: #ec5242;
    list-style: none;
    text-decoration: none;
  }

  .menu-nav li {
    color: grey;
    justify-content: space-between;
    margin: 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
  }

  .btn-campain {
    font-weight: 400;
    font-size: 14px;
    color: #ec5242;
    border: 3px solid #ec5242;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
  }

  /* Hero Section */
  .hero {
    /* padding: 2rem 0 4rem; */
    height: 100%;
    width: auto;
  }

  .desktop-img {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  /* End Header Desktop version */

  .call-title {
    font-size: 52px;
    font-style: normal;
    font-weight: 300;
    color: #ec5242;
  }

  .title {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 80px;
    font-style: normal;
    width: auto;
    text-align: left;
    font-weight: 700;
    color: #ec5242;
    background: -webkit-linear-gradient(#ec5242, #b11908, #690e04, #5e0c03, #ec5242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-paragraphy-desk {
    display: flex;
    font-size: 24px;
    font-style: normal;
    line-height: 2.5rem;
    margin: 0 auto 1rem;
    padding: 1rem;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #000;
    background-color: #fff;
    width: 80%;
  }

  .email-link {
    font-size: 20px;
  }

  .date-title {
    display: inline-flex;
    justify-content: center;
    font-size: 24px;
    margin: 0 auto;
    color: rgb(87, 87, 87);
  }

  .location {
    display: flex;

    /* position: absolute; */

    /* top: 600px; */

    /* left: 400px; */
    font-weight: 300;
    font-size: 24px;
  }

  .main1 {
    display: flex;
    width: 100%;
    background-color: #fff;
  }

  .main-paragraph-desk {
    display: flex;
    justify-content: center;
    color: #000;
    padding: 1rem;
    font-size: 15px;
    text-align: center;
    max-width: 70%;
    margin: 0 auto 1rem;
  }

  .about-logo {
    width: 50%;
  }

  .guide-bar {
    width: 53px;
    border-bottom: 1px solid rgb(239, 81, 60);
    margin: 0 auto 10px;
  }

  .main-title {
    display: flex;
    justify-content: center;
    color: #575757;
    padding: 10px;
  }

  .partner {
    width: 100%;
    max-height: 600px;
  }

  .partner-organizer {
    display: block;
    width: 100%;
    background-color: #fff;
  }

  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .overlay-container:first-child {
    margin: 0 1rem 0 0;
  }

  .grid-container {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    justify-content: center;
    height: 334px;
    align-items: center;
  }

  .grid-item {
    display: block;
    width: 90%;
    max-width: 300px;
    height: 228px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  .grid-item-img {
    justify-content: center;
    align-items: center;
  }

  .highlights-text {
    max-width: 100%;
  }

  .h2-link {
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
  }

  .feature-title {
    display: flex;
    justify-content: center;
    font-weight: 400;
  }

  /* JAVASCRIPT BEGIN */

  .speaker-conter {
    display: flex;
    justify-content: center;
  }

  .guest-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .guest-container img {
    flex-basis: 30%;
    max-width: 100%;
    height: 80%;
  }

  .guest-container div {
    flex-basis: 70%;
    margin-left: 20px;
  }

  .h2-guest {
    overflow-y: hidden;
  }

  #guests li div {
    margin-top: 0;
    line-height: 25px;
  }

  #guests h3 {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #ec5242;
  }

  .img-radius {
    border: 2px solid grey;
    border-radius: 20px;
  }

  .footer-organizer img {
    width: 25%;
    flex-direction: row;
  }

  .content-spacing.bg-c-3 h2 {
    margin-top: 8px;
  }

  .content-spacing.bg-c-3 p {
    line-height: 23px;
  }

  .content-spacing.bg-c-3 img {
    width: 100%;
    margin-top: 25px;
    border: 2px solid lightgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .column-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin: 35px 10px;
    width: 80%;
  }

  /* JAVASCRIPT FINISH */

  .partiner-tile {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px;
    margin: 30px 0 0 0;
  }

  .grid-container-partner {
    display: grid;
    grid-column-gap: 55px;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: #272a32;
  }

  .grid-item-partner {
    margin: 0 0 0 3px;
    padding: 0;
    border: 0;
    align-items: center;
    justify-content: center;
    width: 230px;
  }

  .footer {
    background-color: #333;
  }

  .footer-organizer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }

  .footer-title {
    display: inline-block;
    color: #fff;
  }

  .footer-paragraph {
    font-weight: 300;
    display: inline-block;
    color: #fff;
  }
}
