@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Margin Pre-fix */
.mb-1 {
  margin-bottom: 1rem;
}

/* Display Pre-fix */
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

html,
body {
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #333;
}
/* 
.top-header {
  display: none;
}
.navigation {
  display: none;
} */

.logo img {
  vertical-align: middle;
  display: flex;
  justify-content: left;
}
/* mobile hamburguer menu */
.menumobile {
  display: flex;
  background-color: #888;
}
.navbar-mobile {
  width: 392px;
  height: 568px;
  color: #fff;
  background-color: #272a32;
  position: fixed;
  justify-content: center;
  display: flex;
  top: 0;
  left: -400px;
  z-index: 4;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
.change {
  left: 0;
}
.hamburguer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 30px;
  position: fixed;
  top: 15px;
  left: 35px;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 3px;
  background-color: #1a2236;
  transition: all 0.8s;
}
.change .line-1 {
  transform: rotateZ(-405deg) translate(-11px, 6px);
}
.change .line-2 {
  opacity: 0;
}
.change .line-3 {
  transform: rotateZ(405deg) translate(-11px, -6px);
}
.hamb-nav-list {
  font-family: "Poppins", sans-serif;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  margin: 25px;
  font-size: 16px;
  line-height: 300%;
  left: -5px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  position: relative;
  flex-direction: column;
  top: 100px;
  right: 55px;
}

/* end mobile hamburguer menu */
/* .menu {
  display: none;
}
.logo {
  display: none;
}
.menu-nav {
  display: none;
}
.desktop-img {
  display: none;
} */

.mobile-img {
  display: flex;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* Headline Section */
.hero {
  display: flex;
  text-align: center;
  width: 100%;
  padding-bottom: 3rem;
}

.hero-inner {
  width: 100%;
}

.call-title {
  display: flex;
  font-size: 24px;
  font-size: 5vw;
  font-style: normal;
  font-weight: 300;
  width: 90%;
  margin: 75px 0 0 1rem;
  color: #ec5242;
}

.title {
  display: flex;
  font-size: 40px;
  font-size: 7vw;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: 1rem;
  color: #ec5242;
  background: -webkit-linear-gradient(
    #ec5242,
    #b11908,
    #690e04,
    #5e0c03,
    #ec5242
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-paragraphy {
  display: flex;
  margin-left: 1rem;
  padding: 1rem;
  font-size: 14px;
  font-weight: 500;
  font-family: "Lato", Sans serif;
  line-height: 1.5rem;
  color: #000;
  background-color: #fff;
  width: 80%;
}

.date-title {
  margin-left: 1rem;
  width: 90%;
  color: rgb(87, 87, 87);
  font-size: 20px;
  text-align: left;
}

.location {
  margin-left: 1rem;
  width: 90%;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
}

/* Main Section */
.main1 {
  display: block;
  width: 100%;
  background-image: url(/images/pattern_bkg.png);
  background-color: #272a32;
  padding-bottom: 2rem;
}

.main-title {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 10px;
}

.grid-container {
  width: 100%;
  margin: 0 0 0.5em;
  padding: 16px 0;
  vertical-align: middle;
  display: table;
  grid-column-gap: 15px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: auto;
}

.highligts {
  color: #ec5242;
  font-weight: 300;
}

.highlights-text {
  font-family: 'Lato', sans-serif;
  max-width: 50%;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.join-btn {
  justify-content: center;
  display: inline-flex;
  margin: 0 auto;
  padding: 2rem 0;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: "Lato", Sans serif;
  background-color: orangered;
  width: 80%;
}

/* Feature Section */
.content-spacing {
  padding: 1rem 1rem 2rem 1rem;
}

.feature-title {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

/* Js Classes */
.speaker-conter {
  display: flex;
  justify-content: center;
}

.guest-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.guest-container img {
  flex-basis: 30%;
  max-width: 120px;
  height: 120px;
}

.guest-container div {
  flex-basis: 70%;
  margin-left: 20px;
}

#guests li div {
  margin-top: 0;
  line-height: 25px;
}

#guests h3 {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #ec5242;
}

.img-radius {
  border: 2px solid grey;
  border-radius: 20px;
}

.content-spacing.bg-c-3 h2 {
  margin-top: 8px;
}

.content-spacing.bg-c-3 p {
  line-height: 23px;
}

.content-spacing.bg-c-3 img {
  width: 100%;
  margin-top: 25px;
  border: 2px solid lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column-container {
  grid-template-columns: auto;
}

.partner {
  width: 100%;
}

.partner-organizer {
  display: block;
  height: auto;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: #272a32;
}
.partiner-tile {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 0;
  margin: 0;
}
.guide-bar {
  width: 53px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 2rem;
}

.grid-container-partner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item-partner {
  display: inline-flex;
  justify-content: center;
  width: 30%;
}

.grid-item-partner img {
  display: flex;
  width: 50%;
}

/* Footer */
.footer {
  padding: 1rem;
}

.footer-organizer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
}

.footer-organizer img {
  width: 50%;
  flex-direction: row;
}

.footer-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-title {
  display: inline-block;
}

.footer-paragraph {
  font-weight: 300;
  display: inline-block;
}

@media only screen and (min-device-width: 992px) {

  body {
    max-width: 1920px;

  }

  .d-none-desk {
    display: none;
  }

  .d-none {
    display: block;
  }

}
  